.header{
    background-color: #333331;
    width: 100%;
    display: inline-block;
    height: 44px;
    z-index: 102;
    background-image: url("/app/img/nav-background.PNG");
}

.filter{
    width: 100%;
    height: 52px;
    background-color: rgb(53, 53, 51);
    opacity: 0.402;
    z-index: 50;

}

.header-image{
    background-image: url("/app/img/header-background.jpg");
    width: 100%;
    height: 47px;
    z-index: 10;
}


@media screen and (max-width: 1200px) {
    .header{
        height: auto;
    }
}