
.image2{
    height: 308px;
    width: 630px;
    background-color: white;
    margin-left: 20px;
    margin-bottom: 10px;
    border: 1px solid rgb(194, 192, 184);
    padding: 0 0 0 0;
}

.post-container{
    padding-right: 20px;
}

.sidebar{
    padding-right: 20px;
}

.t1{

    padding-top: 50px;
    padding-bottom: 50px;

}

.t2{

    padding-bottom: 50px;
    padding-left: 15px;

}


@media screen and (max-width: 1200px) {

    .t1{
        margin-right: auto;
        padding: auto;
    }
}

.small{
    width: 50%;
}