<div>
    <label>Post:</label> <input #postId /><br>
    <label>Header:</label> <input #postHeader /><br>
    <label>Subheader:</label> <input #postSubheader /><br>
    <label>Image:</label> <input #postImage /><br>
    <label>Content:</label> <input #postContent /><br>
    <label>Comments:</label> <input #postComments /><br>
    <button (click)="addPost(postId.value,postHeader.value,postSubheader.value,postImage.value,postContent.value,postComments.value);">
        Add
    </button>
</div>
<div class="grid grid-pad" *ngFor="let post of posts">
    <post [post]="post"></post>
</div>
