
<div class="post_header">
    <div class="image">
        <ul class="actions">
            <li id="edit"></li>
            <li id="delete"></li>
        </ul>
        <div class="comments">{{commentsCount}} Comments</div>


        <ul class="social_panel">
            <li class="social" id="facebook"></li>
            <li class="social" id="twitter"></li>
        </ul>
    </div>
</div>
<div class="post">
    <div class="header">{{header}}</div>
    <div class="date">19th April 2012</div>
    <div class="subheader">{{subheader}}</div>
    <div class="text">
        {{content}}
    </div>

</div>
