<div class="sidebar">
    <div class="header">Creative+ Design Blog</div>
    <div id="subheader">Your Bi-Line to go her</div>
    <div id="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur.
    </div>
    <div class="header">Recieve Updates</div>
    <div class="newsletter">
        <div class="envelope"></div>
        <input type="text" id="newsletter_input" placeholder="Leave Your Email here">
        <input type="button" class="newsletter_btn" value="Join">
    </div>
    <div id="text2">
        Ut eget metus nibh, nec scelerisque sem. Nulla dui purus, pellentesque sit amet rutrum vitae.
    </div>
    <div class="header">Resent Posts</div>
    <ul class="recent-posts">
        <li  *ngFor="let post of recentPosts">{{post.content}} <p class="date">14th Febuary 2012</p></li>
    </ul>
    <div class="header">Popular Tags</div>
    <div class="tags"></div>
</div>