.app{
    background-image: url("/app/img/background.jpg");
}


.footer{
    background-color: #0f0f0f;
    padding-left: 0px;
    padding-right: 0px
}

.header{
    background-color: #0f0f0f;

}

.post-container{
    padding-right: 20px;
}

.sidebar{
    padding-right: 20px;
}

.t1{
    margin-right: -200px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.t2{
    margin-right: -200px;
    padding-bottom: 50px;
    padding-left: 15px;

}

