.header{
    background-color: #333331;
    height: 44px;
    overflow: hidden;
}

.navbar-brand{
    background-color: #f26c4f;
    color: white;
    width: 369px;
    text-align: center;
    font-size: 24pt;
    font-family: Helvetica;

}

ul li a{
    color: white;
    font-weight: bold;
    font-size: 12pt;
}

#login{
    margin-right: 150px;
}

#username{
    margin-top:15px;
    color:#c55e47;
    font-weight: bold;
}

#logo-plus{
    font-size: 20pt;
    opacity: 0.5;
}