.comments-container{
    width: 100%;
    height: auto;
    padding-left: 35px;
    padding-top: 38px;
    padding: 35px 35px 35px 35px;
    box-shadow:
            0 0 0 1px rgb(194, 192, 184) inset;
    margin-bottom: 30px;
    background:
            linear-gradient(#fbfbfb 2px, white 0);
    background-size:100% 14px;
}

.comment{
    width: 100%;
    height: auto;
    padding: 15px 15px 0px 15px;
    overflow: hidden;
}

.avatar{
    width: 40px;
    height: 45px;
    float: left;
    margin-right: 15px;
    border: solid black 1px;
}

.comment-text{

    height: 45px;
    font-size: 12px;
    font-family: "Helvetica";
    color: rgb(149, 149, 149);
    line-height: 1.333;
    overflow: hidden;

}

.subcomments{
    width: 100%;
    height: auto;
    padding: 5px 20px 5px 20px;
    //background-color: green;
    overflow: hidden;
}


.subsubcomments{
    width: 100%;
    height: auto;
    padding: 20px 20px 20px 20px;
   // background-color: yellow;
    overflow: hidden;
}


.name{

 }


.user{
    width:400px;
    height: 20px;
    margin-left: 50px;
    font-size: 14px;
    font-family: "Helvetica";
    color: rgb(242, 108, 79);
    font-weight: bold;

}


.header{
    font-size: 30px;
    font-family: "Helvetica";
    color: rgb(58, 62, 63);
    font-weight: bold;
    line-height: 0.8;

}

.date{
    font-size: 14px;
    font-family: "HelveticaObl-Li";
    color: rgb(58, 62, 63);
    width: 150px;
    padding-top: 0;
    padding-bottom: 0;
float:left;

}
