
    <div class="comment">
        <img class="avatar" src="app/img/user.png" (click)="addSubcomment()"><div class="user">{{comment.sender}}</div>
        <div class="comment-text">
            {{comment.text}}
        </div>
        <div class="subcomments" >
            <div *ngFor="let comment_level_2 of comments_level_2" >
                <img class="avatar" src="app/img/user.png"><div class="user">{{comment_level_2.sender}}</div>
                <div class="comment-text">
                    {{comment_level_2.text}}
                </div>
            </div>
        </div>
    </div>
<subcomment-form [hidden]="!hide" (onHideChange)="onHideChange($event)" (onSubcommentSend)="onSubcommentSend($event)"></subcomment-form>