<div class="comments-container">

    <div class="comment">
        <img id="avatar" src="app/img/user.png"><div id="user">User211</div>
        <div id="comment-text">cscsdcsdc hu u i j kjoijiuhdh h8 dj jhf8h yhdf8 9fjh6gh8f 6gf6 7f 7h 7h7 h7 hh h j j8 j8
        ikj8kikk9 99k 9f9k i887h76g5f4 4gh j8 6r4 r 98u5e od,ki jy kjfujfl kffk fk lfkifjifko lfo kfj t5dgh7 dj8
        </div>
        <div class="subcomments"></div>
    </div>

    <div class="comment">
        <img id="avatar" src="app/img/user.png">
        <div id="comment-text">cscsdcsdc hu u i j kjoijiuhdh h8 dj jhf8h yhdf8 9fjh6gh8f 6gf6 7f 7h 7h7 h7 hh h j j8 j8
            ikj8kikk9 99k 9f9k i887h76g5f4 4gh j8 6r4 r 98u5e od,ki jy kjfujfl kffk fk lfkifjifko lfo kfj t5dgh7 dj8
        </div>
        <div class="subcomments"></div>
    </div>

    <div class="comment">
        <img id="avatar" src="app/img/user.png">
        <div id="comment-text">cscsdcsdc hu u i j kjoijiuhdh h8 dj jhf8h yhdf8 9fjh6gh8f 6gf6 7f 7h 7h7 h7 hh h j j8 j8
            ikj8kikk9 99k 9f9k i887h76g5f4 4gh j8 6r4 r 98u5e od,ki jy kjfujfl kffk fk lfkifjifko lfo kfj t5dgh7 dj8
        </div>
        <div class="subcomments">

                <img id="avatar" src="app/img/user.png">
                <div id="comment-text">cscsdcsdc hu u i j kjoijiuhdh h8 dj jhf8h yhdf8 9fjh6gh8f 6gf6 7f 7h 7h7 h7 hh h j j8 j8
                    ikj8kikk9 99k 9f9k i887h76g5f4 4gh j8 6r4 r 98u5e od,ki jy kjfujfl kffk fk lfkifjifko lfo kfj t5dgh7 dj8
                </div>
                <div class="subcomments"></div>
        </div>
    </div>
</div>