.comments-container{
    width: 50%;
    height: auto;
    margin-left: 20px;
    padding-left: 35px;
    padding-top: 38px;
    padding: 35px 35px 35px 35px;
    box-shadow:
            0 0 0 1px rgb(194, 192, 184) inset;
    margin-bottom: 30px;
}

.comment{
    width: 100%;
    height: auto;
    padding: 20px 20px 20px 20px;

}

#avatar{
    width: 40px;
    height: 45px;
    float: left;
    margin-right: 20px;
    border: solid black 1px;
}

#comment-text{

    height: 45px;
    font-size: 12px;
    font-family: "Helvetica";
    color: rgb(149, 149, 149);
    line-height: 1.333;


}

.subcomments{
    width: 100%;
    height: auto;
    padding: 20px 20px 20px 20px;
}


.name{

 }


#user{
    width:100px;
    height: 20px;
    margin-left: 50px;
    font-size: 14px;
    font-family: "Helvetica";
    color: rgb(242, 108, 79);
    font-weight: bold;
}


