
<div class="footer_border"></div>
<div class="footer">

    <div class="newsletter">
        <div class="envelope"></div>
        <input type="text" id="newsletter_input" placeholder="Join Our Newsletter Here">
        <input type="button" class="newsletter_btn" value="Join">
    </div>
    <div class="info_label">
    Quisque turpis lorem, vehicula eget rhoncus vel, ultricies ac mauris. Morbi lectus velit,
    tincidunt congue pharetra eu, varius nec libero. Vivamus justo risus,
    dignissim ac vestibulum eget, egestas rutrum magne. Etiam malesuada nisi et nisl volutpat
    tristique.
    </div>

    <div class="social_panel">
        <div class="social" id="facebook"></div>
        <div class="social" id="twitter"></div>
        <div class="social" id="rss"></div>
    </div>
    <div id="copyright">Copyright 2012 Footer here</div>
</div>