<form class="form">
    <h2 id="main-title">Create Post</h2>
    <div class="header">Post Title<sup id="require">*</sup> </div>
    <input class="textbox" required type="text">
    <div class="header">Post Subtitle </div>
    <input class="textbox" type="text">
    <div class="header">Tags</div>
    <input class="textbox" type="text">
    <div class="help">Please enter comma separated list of tags.</div>
    <div class="header">Post Text</div>
    <textarea id="text"></textarea>
    <button id="create-btn">Create Post</button>
    <button id="cancel-btn">Cancel</button>
</form>