
<div class="post_header">
    <div class="image">
        <ul class="actions" [hidden]="isHide()">
            <li id="edit" [routerLink]="['edit',post.id]"></li>
            <li id="delete" (click)="deletePost()"></li>
        </ul>
        <div class="comments" [hidden]="isHide()">{{post.commentsCount}} Comments</div>


        <ul class="social_panel" [hidden]="isHide()">
            <li class="social" id="facebook"><a href="*"></a></li>
            <li class="social" id="twitter"><a href="*"></a> </li>
        </ul>
    </div>
</div>
<div class="post">
    <div class="header" [routerLink]="['',post.id]" >{{post.header}}</div>
    <div class="date">{{post.date}}</div>
    <div class="subheader">{{post.subheader}}</div>
    <div class="text">
        {{post.content}}
    </div>
</div>

