.post{
    width: 100%;
    height: 280px;

    padding: 38px 35px 38px 35px;
    box-shadow:
            0 0 0 1px rgb(194, 192, 184) inset,
            0px 7px 0 -4px white,
            0px 7px 0 -3px rgb(194, 192, 184),
            0 15px 0 -8px white,
            0 15px 0 -7px rgb(194, 192, 184);
    margin-bottom: 30px;

}

.arrow{
    border: 15px solid transparent;
    border-bottom: 15px solid rgb(255, 68, 0);
    display: block;
    width: 0;
    height: 0;
}

.post_header{
    height: 308px;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid rgb(194, 192, 184);
    padding: 8px 8px 8px 8px;
}

.image{
    height: 292px;
    width: 100%;

    background-color: black;
    background-image: url("/app/img/post1-image.png");
}

.post {
    position: relative;
    background:
            linear-gradient(#fbfbfb 2px, white 0);
    background-size:100% 14px;
}

.post::before, .post::after {
    content: '';
    position: absolute;
    left: 28px; bottom: 279px;
    border: 15px solid transparent;
    border-bottom: 15px solid rgb(194, 192, 184);
}

.post::after {
    border-bottom: 15px solid white;
    bottom: 278px;
}

.header{
    font-size: 30px;
    font-family: "Helvetica";
    color: rgb(58, 62, 63);
    font-weight: bold;
    line-height: 1.133;
    text-align: left;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.004);
}

.date{
    font-size: 11px;
    font-family: "Helvetica";
    color: rgb(174, 174, 174);
    line-height: 3.091;
    text-align: left;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.004);
}

.subheader{
    font-size: 15px;
    font-family: "Helvetica";
    color: rgb(242, 108, 79);
    font-weight: bold;
    line-height: 2.267;
    text-align: left;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.004);
}

.text {
    font-size: 12px;
    font-family: "Helvetica";
    color: rgb(149, 149, 149);
    line-height: 2;
    text-align: left;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.004);
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    height: 70px;
}

.social{
    border-radius: 50%;
    background-color: #f26c4f;
    width: 48px;
    height: 47px;
    z-index: 223;
    margin: 0 0 0 0;
    padding-left: 0;
    background-position: center;
    background-repeat: no-repeat;
}

#facebook{
    margin-left: 0;
    background-image: url("/app/img/facebook.png");
    list-style-type: none;
    margin-top:170px;
}

#twitter{
    background-image: url("/app/img/twitter.png");
    list-style-type: none;
    margin-top: 8px;
}

.social_panel{
    padding: 8px 10px 10px 10px;
    margin-bottom: 0;
}

.comments {
    border-radius: 5px;
    background-color: rgb(242, 108, 79);
    font-size: 14px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    width: 120px;
    height: 30px;
    float: right;
    margin-top: 180px;
    margin-right: 8px;
    padding-top: 5px;
}

.actions{
    float:right;
    width: 100%;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 0;
    padding-left: 95%;
}

.actions li{
    list-style-type: none;
    width: 30px;
    border-radius: 3px;
    background-color: rgb(242, 108, 79);
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
}

#delete{
    margin-top: 3px;
    background-image: url("/app/img/delete.png");
}

#edit{
    background-image: url("/app/img/edit.png");
}

.actions li a{
    display: block;
    height: 100%;
}

.social_panel li a{
    display: block;
    height: 100%;
}




@media screen and (max-width: 1200px) {
    .post{
        width: 100%;
        margin-right: auto;
        margin-left: 0;
    }

    .post_header{
        width: 100%;
        margin-right: auto;
        margin-left: 0;
    }

    .image{
        width: auto;
        height: auto;

    }

    .t1{
        margin-right: auto;
    }

    .actions{
        padding-left: 90%;
    }
}
/*
@media screen and (max-width: 615px) {
    .post{
        width: 70%;
        margin-right: 0;
        margin-left: 0;
    }

    .post_header{
        width: 70%;
        margin-right: 0;
        margin-left: 0;
    }

    .image{
        width: auto;
        height: auto;

    }

}

@media screen and (max-width: 420px) {
    .post{
        width: 60%;
        margin-right: 0;
        margin-left: 0;
    }

    .post_header{
        width: 60%;
        margin-right: 0;
        margin-left: 0;
    }

    .image{
        width: auto;
        height: auto;

    }

    .text{
        height: 30px;
    }

    .social_panel{
        margin-right: 20px;
    }

}*/
